*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter Tight', sans-serif;
}
img{
    width: 100%;
}


/* UTILITY */

.d-flex{
    display: flex;
}

.container{
    width: 1140px;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 50px;
}

.btn a{
    color: black;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
}

.debug{
    background-color: red;
}

/* HEADER */

header{
    background-color: #0184FD;
    margin-bottom: 50px;
}

header .menu{
    height: 76px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
}

header .fa-bars{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

header nav{
    display: none;
    
}
header nav ul{
    list-style: none;
    align-items: center;
}
header nav ul li{
    color: white;
    padding-left: 30px;
}


/* MAIN */

.box-card{
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    }

.box-card .card{
    background-color: #B5DDFF;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 25px;
}
.box-card .card h2{
    color: #0184FD;
    padding-top: 25px;
}
.box-card .card p{
    padding: 25px 0px;
    line-height: 1.5rem;
    color: #5B6E7F;
}
.card .btn a{
    background-color: #0184FD;
    text-align: center;
    color: white;
    width: 75%;
    letter-spacing: .1rem;
}
.card .btn a i{
    padding: 0px 5px;
}
.card .img{
    margin-bottom: -25px;
    padding-top: 20px;
}
.center{
    text-align: center;
}
.center .fa-solid{
    font-size: 3.5rem;
    color: #0184FD;
    padding: 15px auto;
}


/* SECTION VIOLA */

.viola{
    background-color: #9792E4;
    padding: 60px 0px;
    margin-top: 50px;
}
.viola  h2{
    font-size: 1.5rem;
    padding: 25px 0px;
    font-weight: bold;
}

.planning{
    color: white;
}
.viola .app-dev{
    background-color: white;
    border-radius: 20px;
    margin: 30px 0px;
    padding: 20px 20px;
    text-align: center;
}

.app-dev{
    font-style: italic;
    line-height: 1.5rem;
}
.app-dev .btn{
    display: inline-block;
    padding: 20px 0px;
}
.app-dev .btn a{
    background-color: #9792E4;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin: 0 auto;
}

/* TESTIMONIALS */

.testimonials{
    text-align: center;
}
.testimonials h2{
    padding: 20px 0px;
    color: #9792E4;
    font-size: 1.5rem;
}
.profiles p, 
.profile p{
    line-height: 1.5rem;
    padding: 20px 0px;
}

.profile{
    color: white;
    background-color: #9792E4;
    text-align: center;
    padding: 20px 0px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.profile img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 10px;
}
.profile span{
    font-size: 2rem;
}

/* BENEFITS */
.benefits{
    background-color: #9792E4;
    margin: 50px 0px;
    padding-bottom: 30px;
}

.benefits .title h4{
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 60px 0px;
}
.benefits .benefit{
    background-color: white;
    color: #9792E4;
    padding: 25px 30px;
    border-radius: 20px;
    margin-bottom: 40px;
}
.benefit h2{
    font-size: 3rem;
}
.benefit h3{
    font-size: 1.5rem;
    padding: 15px 0px;
}
.benefit p{
    color: #8D8D8D;
}
.benefit .btn{
    padding: 15px 0px;
}
.benefit .btn a{
    background-color: #9792E4;
    text-align: center;
    max-width: 140px;
    color: white;
}


/* ABOUT US */

.about h2{
    color: #9792E4;
    font-size: 1.5rem;
}
.about p{
    padding: 15px  0px;
    line-height: 2rem;
}
.about .help{
    padding: 30px 0px;
    position: relative;
}
.about .help img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.about .help h4{
    color: #9792E4;
    font-size: 2rem;
    line-height: 39px;
}
.about .help .fa-quote-left{
    position: absolute;
    top: 5%;
    left: 35%;
    font-size: 5rem;
    color: #9792E4;
}

.about .help .btn a{
    color: white;
    background-color: #9792E4;
    text-align: center;
    width: 250px;
}
.about .help .btn .fa-linkedin{
    padding: 0px 10px;
}


/* MEDIA QUERY */

@media (min-width:376px){
    .box-card .card{
        flex-wrap: nowrap;
        max-width: 66%;
    }
    .box-card  .center{
        flex-grow: 3;
        max-width: 33%;
    }
    .box-card .card img{
        max-width: 66%;
    }

    .profile{
        display: flex;
    }
    .profile .text{
        padding: 20px;
    }
    
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .row .benefit{
        width: 49%;
    }


}
@media (min-width:811px){
    header nav{
        display: block;
    }
    header .fa-bars{
        display: none;
    }
    .box-card .card{
        max-height: 350px;
    }
    .viola .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: calc(100% / 1.5);
    }
    .viola .container .planning {
        max-width: 49%;
        padding: 20px;
        padding-top: 40px;
    }
    .row .benefit{
        width: 32%;
    }

}


