*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter Tight', sans-serif;
}
img{
    width: 100%;
}


/* UTILITY */

.d-flex{
    display: flex;
}

.container{
    width: 1140px;
    max-width: 85%;
    margin: 0 auto;
}

.btn a{
    color: black;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
}

/* HEADER */

header{
    background-color: #0184FD;
    margin-bottom: 50px;
}

header .menu{
    height: 76px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
}

header .fa-bars{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

header nav{
    display: none;
    
}
header nav ul{
    list-style: none;
    align-items: center;
}
header nav ul li{
    color: white;
    padding-left: 30px;
}


/* MAIN */

.box-card .card{
    background-color: #B5DDFF;
    padding: 20px;
    border-radius: 20px;
}
.box-card h2{
    color: #0184FD;
}
.box-card .card p{
    padding: 25px 0px;
    line-height: 1.5rem;
    color: #5B6E7F;
}
.box-card .card .btn a{
    background-color: #0184FD;
    text-align: center;
    color: white;
    width: 75%;
    letter-spacing: .1rem;
}
.box-card .card .btn a i{
    padding: 0px 5px;
}
.box-card .card .img{
    margin-bottom: -25px;
    padding-top: 30px;
}

/* MEDIA QUERY */

@media (min-width:375px){
    
}
@media (min-width:811px){
    header nav{
        display: block;
    }
    header .fa-bars{
        display: none;
    }
}


